chromadb==0.4.24
python-frontmatter==1.1.0
ollama==0.1.7
pyzmq==25.1.2
pyyaml==6.0.1
pandas==2.2.1
pandas-ta
ccxt==4.2.53
yfinance==0.2.37
vectorbt==0.25.4
Flask==3.0.2
apscheduler==3.10.4
requests==2.31.0
